# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
apps/mobile/android/
apps/mobile/ios/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Builds / artifacts
*.apk
*.aab
*.ipa
*.app
build/
coverage/

# Env & secrets (NEVER commit real values)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS / editor
.DS_Store
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo

# Docker
docker-data/
